[package]
name = "kafka4rust"
version = "0.1.0"
authors = ["Vadym Chekan <kot.begemot@gmail.com>"]
edition = "2018"
keywords = ["kafka"]
description = "High performance, async Kafka client"

[profile.release]
lto = true
panic = 'abort'

[dependencies]
itertools = "0.9.0"
anyhow = "1.0"
thiserror = "1.0"

futures = "0.3.1"
async-std = { version = "1.5.0", features = ["unstable"] }
tokio = { version = "0.2.21", features = ["full"] }

bytes = "0.4.12"
byteorder = "1.3.2"
crc32c = "0.4.0"

log =  "0.4.8"
simple_logger = "1.6.0"
tracing = "0.1"
tracing-opentelemetry = "0.4"
opentelemetry = "0.5"
tracing-subscriber = "0.2"
tracing-futures = "0.2"
tracing-attributes = "0.1"
opentelemetry-jaeger = "0.4"
thrift = "0.13.0"

lazy_static = "1.4.0"

# for testing
rand = "0.7.3"

# CLI
clap = "2.33"
regex = "1.3"
tui = { version = "0.8", default-features = false, features = ['crossterm'] }
crossterm = {version = "0.17", features = ['event-stream'] }

[dev-dependencies]
criterion = "0.3"

[[bench]]
name = "tokio_channel_clone"
harness = false